body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.logo {
  width: 120px;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 150px 20px;
  background: linear-gradient(180deg, #000, #1a0000);
}

.hero h1 {
  font-size: 70px;
  color: #ff2e2e;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
}

.red {
  background: #ff2e2e;
  color: white;
}

.outline {
  border: 2px solid #ff2e2e;
  color: #ff2e2e;
}

.paths {
  text-align: center;
  padding: 60px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  background: #ff2e2e;
}

.gangs {
  padding: 60px;
  text-align: center;
}

.grid img {
  width: 120px;
  margin: 10px;
}
