body {
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: radial-gradient(circle, #1a0000, #000);
  font-family: Arial;
  color:white;
}

/* CENTER BOX */
.container {
  text-align:center;
}

/* LOGO */
.logo {
  font-size:60px;
  letter-spacing:5px;
}

.logo span {
  color:#ff2e2e;
}

/* STATUS */
.status {
  margin:20px 0;
  padding:8px 20px;
  border-radius:20px;
  border:1px solid #ff2e2e;
  display:inline-block;
  font-size:14px;
}

/* COUNTDOWN */
.countdown {
  display:flex;
  gap:40px;
  justify-content:center;
  margin-top:30px;
}

.countdown h2 {
  font-size:50px;
}

.countdown p {
  font-size:12px;
  color:gray;
}

/* DATE */
.date {
  margin-top:30px;
  color:gray;
}
